<%= form_for @client, html: {class: 'form-horizontal'} do |f| %>
  <div class="form-group ">
    <%= f.label :Name %><br />
    <%= f.text_field :name %> <br>
  </div>
  <div class="form-group ">
  	<%= f.label :Age %><br />
  	<%= f.number_field :age %>
  </div>

  <div class="form-group ">
  	<%= f.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>
