<%= form_with(model: order, local: true) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
      <%= f.label :client %><br />
      <%= f.collection_select :client_id, Client.all, :id, :name %>
    </div>

    <%= f.fields_for :order_products do |builder| %>
      <%= render 'order_product_fields', f: builder %>
    <% end %>
      <div class="add_order_product">
       <%= link_to_add_fields "Add Order Product",  f, :order_products %>
      </div>   
  <div class="actions">
    <%= f.submit class: 'button button-default' %>
  </div>
<% end %>
