<%= form_for @order, html: {class: 'form-horizontal'} do |f| %>
  <div class="form-group ">
  	 <%= f.collection_select :product_ids, Product.all, :id, :title %>
    </div>
    
     <div class="form-group ">
      <%= f.collection_select :client_ids, Client.all, :id, :name %> 
    </div>
   
    <div class="form-group ">
    	<%= f.label :quantity %><br />
    	<%= f.number_field :quantity %>
    </div>
    <div class="form-group ">
    	<%= f.submit "Add", class: "btn btn-primary" %>
    </div>
<% end %>