<%= form_for @order_product, html: {class: 'form-horizontal'} do |f| %>
  
    <div class="form-group ">
      <%= f.label :product %><br />
    <%= collection_select :title, :product_id, Product.all, :id, :title, {} %> <br>
    </div>

    <div class="form-group ">
      <%= f.label :Quantity %><br />
      <%= f.text_field :quantity %> <br>
    </div>

    <div class="form-group ">
    	<%= f.submit "Add", class: "btn btn-primary" %>
      | <%= link_to 'back', root_path , class: 'btn btn-default' %>

    </div>

<% end %>
