<div class="container">

	<h1> All orders </h1>

	<table class="table table-striped table-inverse ">
	
	<%= link_to 'new', new_order_product_path %>
	  <thead>
	    <tr>
	      <th>Client Name</th>
	      <th>Product</th>
	      <th>Price </th>
	      <th>Quantity </th>
	    </tr>
	  </thead>
	 	 
	    <tbody>	
				
			<% @order_products.each do |op| %>

	    		<tr>
	    			<td><%= op.order.client.name %></td>	
					<td><%= op.product.title %></td>	
					<td><%= number_to_currency(op.product.price, :unit => "$") %></td> 
					<td><%= op.quantity %></td>
					
				    	             	 	
				</tr>
			<% end %>
		</tbody>		
	</table>

</div>